.DS_Store
.AppleDouble
.LSOverride
*.pyc
*.pyo
venv
venv*
dist
*.egg
*.egg-info
_mailinglist
.tox
._*
.idea/
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# sftp configuration file
sftp-config.json